
.offer1
{
    background-image: url('../../../assets/offers/cta-1.jpg');
    background-position: cover;
    background-repeat: no-repeat;
    min-height: 300px;
}
.offer2
{
    background-image: url('../../../assets/offers/cta-2.jpg');
    background-position: cover;
    background-repeat: no-repeat;
    min-height: 300px;
}
.offer-content
{
    max-width: 290px;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: capitalize;
   
}
.offer-content h6
{
 font-size: 20px;
}
.offer-content h2
{
 font-size: 35px;
 font-weight: bold;
}
.offer-content .test
{
    color: white;
    font-size: 19px;
    text-transform: capitalize;
 
    padding-bottom: 7px;
    cursor: pointer;
    border-bottom: 1px solid white;
}










