<div class="services">
    <div class="container">
        <div class="row my-5">
            <div class="col-lg-3 col-md-6 d-flex">

                <div class="img-shape">
                    <img class="" src="../../assets/services/service-1.png" alt="">
                </div>

                <div class="service-content mx-2">
                    <h4>free shiping</h4>
                    <p>All orders over <span> $150</span></p>

                </div>

            </div>



            <div class="col-lg-3 col-md-6 d-flex">

                <div class="img-shape">
                    <img class="" src="../../assets/services/service-2.png" alt="">
                </div>

                <div class="service-content mx-2">
                    <h4>QUICK PAYMENT</h4>
                    <p><span>100%</span> secure payment</p>

                </div>

            </div>




            <div class="col-lg-3 col-md-6 my-md-3 my-lg-0 d-flex">

                <div class="img-shape">
                    <img class="" src="../../assets/services/service-3.png" alt="">
                </div>

                <div class="service-content mx-2">
                    <h4>FREE RETURNS</h4>
                    <p>Money back in <span>30 days</span> </p>

                </div>

            </div>

            <div class="col-lg-3 col-md-6 my-md-3 my-lg-0  d-flex">

                <div class="img-shape">
                    <img class="" src="../../assets/services/service-4.png" alt="">
                </div>

                <div class="service-content mx-2">
                    <h4>24/7 SUPPORT</h4>
                    <p>Get Quick <span>Support</span></p>

                </div>

            </div>
        </div>

    </div>
</div>