<div class="cart">
    <div class="container">
        <div class="cart-box">
            <div class=" mx-4 d-flex  align-items-center justify-content-between" >
                <h2>shopping cart </h2>
                <div>
                  <span class="mx-4"><span class="text-color">items:</span> {{itemsCount}}</span>
                  <span ><span class="text-color">Total: </span> {{this.totalPrice}} L.E</span>
                
                </div>
            </div>
            <table class="table ">
                <thead>
                  <tr class="text-center">
                    <th class="col-5" scope="col">product</th>
                    <th class="col-2" scope="col">category</th>
                    <th class="col-2" scope="col">price</th>
                    <th class="col-1" scope="col">quantity</th>
                    <th class="col-4" scope="col">subtotal</th>
                    <th class="col-2" scope="col">remove</th>
                  </tr>
                </thead>
                <tbody>



                  <tr class="text-center" *ngFor="let data of cartData;  let i =index">
                    <td class="d-flex justify-content-start align-items-center" >
                        <div class="img-shape" style="background-color: red;">
                            <img [src]="data.image" alt="" class="w-100 h-100">

                        </div>
                        <div class="mx-2">{{data.title}}</div>
                    </td>
                 
                    <td class="align-middle">{{data.category}}</td>
                  
                    <td class="align-middle" >{{data.price}} L.E</td>
                    <td class="align-middle">

                        <div class="quantity d-flex align-items-center justify-content-between">
                            <svg (click) = "minus(i)" xmlns="http://www.w3.org/2000/svg" height="14" width="12.25" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#000000" d="M432 256c0 17.7-14.3 32-32 32L48 288c-17.7 0-32-14.3-32-32s14.3-32 32-32l352 0c17.7 0 32 14.3 32 32z"/></svg>
                            <span>{{data.quantity}}</span>
                            <svg (click) = "plus(i)" xmlns="http://www.w3.org/2000/svg" height="14" width="12.25" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#000000" d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"/></svg>

                        </div>

                    </td>
                    <td class="align-middle">{{data.totalPrice.toFixed(2)}} L.E</td>

                    <td (click)="remove(userId,i)" class="align-middle"><svg xmlns="http://www.w3.org/2000/svg" height="20" width="17.5" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#c92222" d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"/></svg></td>
                  </tr>


        
                </tbody>
              </table>



              <div class="d-flex justify-content-end px-4 align-items-center">

               
                <button (click)="saveCart(userId,cartData)" class="btn btn-danger mx-4 text-capitalize" [disabled] = "cartData.length ==0"> save cart</button>
                <button routerLink="/checkout" class="btn btn-success text-capitalize" [disabled] = "cartData.length ==0"> checkout</button>
              </div>
        </div>
    </div>
</div>