<div class="register">
    <div class="register-box">
        <div class="row m-0 h-100">
            <div class="col-lg-4 left d-flex flex-column justify-content-around align-items-around">
                <h3 class=" my-5">Explore Endless Possibilities Uncover Irresistible Products in Our E-Commerce Wonderland!</h3>

                <div >
                    <img class="w-100 h-100" src="../../../assets/register/Ecommerce web page Customizable Flat Illustrations _ Rafiki Style.jpg" alt="">
                </div>
            </div>


            <div class="col-lg-8 right">

                <div class="right-box">
            
                    <router-outlet></router-outlet>
                        
                    
    
                   
                </div>
            </div>
        </div>
    </div>
</div>